.banner-principal-decorativo
  &-1
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 25%
    left: 20%
  &-2
    animation: float3 5s ease-in-out infinite alternate
    position: absolute
    top: 25%
    left: 25%
  &-3
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 5%
  &-4
    animation: float1 5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 40%

@keyframes float1
  0%
    transform: translateY(30px)

  100%
    transform: translateY(0px)

@keyframes float3
  0%
    transform: translateY(50px)

  100%
    transform: translateY(0px)
  
@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.bloque-texto-b.color-acento-contenido:before
  background-color: #E1FBFF

.bloque-texto-b.color-acento-botones:before
  background-color: #FFF1D8

.bloque01
  &::before
    bottom: 60%
    right: 60%
    top: 0
    left: 0
  
.BG01
  //background-color: #F6F6F6
  //background-image: url("../assets/curso/temas/tema1/img28bg.png")

.BG02
  background-color:#E1EFE3
  border-radius: 15px

.BG03
  background-color: #E1FBFF

.BG04
  background-color: #E1EFE3

.BG05
  //border-left: solid 5px #3AE3FE
  //background-color: #F6F6F6
  //background-image: url("../assets/curso/temas/tema1/img19-1.png")
  background-repeat: no-repeat

.BG06
  //border-left: solid 5px #359547
  //background-color: #F6F6F6
  //background-image: url("../assets/curso/temas/tema1/img19-2.png")
  background-repeat: no-repeat

.BG07
  background-color: #E1FBFF

.BG08
  background-color: #fff

.BG09
  background-color: #F8FBF8

.BG15
  height: 100%
  border-radius: 15px
  background-color: #C1E0FF
  cursor: pointer
  transition: background-color 0.3s ease-in-out
  ::selection
    background: #2196F3 !important

.BG16
  background-color: #FEF5E5

.BG17
  background-color: #FFE9C3

.BG18
  background-color: #E8E8E8

.img01
  position: absolute
  left: 150px
  @media (max-width: $bp-max-sm)
   position: inherit
   left: 0px

.tarjeta.color-acento-botones--borde
  border: solid 3px #FEF5E5
  background-color:#FEFBF6
  
.tabs-a__tab
  background-color: #F6F6F6

.fa-chevron-right:before, .fa-chevron-left:before
  color: #228898


.slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #228898
  transform: rotate(-180deg)

.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color: #228898
  transform: rotate(0deg)

.slyder-a__bullets__item--active
  background-color: #228898

.lista-ol--cuadro__vineta
  background-color: #359547

.tarjeta-slide__img
  background-position: inherit
  transform: translate(0, 13%)

.fa-check-circle:before
  color: #F7A491

.bg-color-1
  //background-image: url("../assets/curso/temas/back_ico_1.svg") !important
  background-repeat: no-repeat 
  margin-top: -20px
  width: 45%
//CONTROLAR LAS IMAGENES EN MOVIL
@media (min-width: 992px)
  .desktop 
    display: inline
  .movil 
    display: none
  .mts
    margin-top: 0.25rem  
  .bg-color-1
    width: 45%
 
@media (max-width: 991px)
  .movil 
    display: inline
  .desktop 
    display: none
  .mts
    margin-top: -1.35rem
      
  .bg-color-1
    width: 85%

.slyder-a__tipo-b .slyder-a__btn--sigt 
  background-color:#FCC15A
.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color:#FCC15A
.slyder-a__bullets__item--active
  background-color:#FCC15A
  border-color: #FCC15A
//.slyder-a__bullets__item
//  background-color: #03386E

.tarjeta--azul
  background-color:#E1EFE3
    //#C5F7FF
.acordion__accion__btn--a
    background-color: #FCC15A